footer{
    display: flex;
    justify-content: center;
}
.footer_img{
    width: 100px;
    height: 100px;
}
.footer_img > img{
    width: 100%;
}
footer > ul{
    display: flex;
}
footer > ul > li > a{
    font-size: 2rem;
}